<script lang="ts">
import { useMachine } from '@xstate/vue';
import { createMachine } from "xstate";
import { inspect } from "@xstate/inspect";

// uncomment to inspect the toggleMachine
inspect({
  iframe: false
});

const toggleMachine = createMachine({
  id: "toggle",
  initial: "inactive",
  states: {
    inactive: {
      on: { TOGGLE: "active" }
    },
    active: {
      on: { TOGGLE: "inactive" }
    }
  }
});

export default {
  setup() {
    const { state, send } = useMachine(toggleMachine, { devTools: true });

    return {
      state,
      send
    }
  }
}

</script>

<template>
  <button @click="send('TOGGLE')">
    {{
      state.value === 'inactive'
        ? 'Click to activate me!'
        : 'My job is done. You can deactivate me now!'
    }}
  </button>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
